<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   </head>
   <body>
      <div class="container mt-3">
         {% if username %}
              <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dashboard</a>
          </div>
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                 <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                  <li><a href="/get_captured_devices">Captured Devices</a></li>
                 <li><a href="{{ url_for('logout') }}">Logout</a></li>
               </ul>

             </div><!-- /.navbar-collapse -->
           </div><!-- /.container-fluid -->
         </nav>
         <ul class="nav nav-tabs" style="width:750px !important;" id="mytab">
            <li class="active"><a data-toggle="tab" href="#home">All Devices</a></li>
            <li><a data-toggle="tab" href="#queue">Queue</a></li>
            <li><a data-toggle="tab" href="#settings">Settings</a></li>
			 <li><a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a></li>
         </ul>
         <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
               {% with messages = get_flashed_messages() %}
               <h3>All Devices</h3>
               {% if username %}
               <div class="row">
                  <div class="offset-md-2 col-md-8 offset-md-2">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="alert alert-warning" role="alert">
                              Start Capturing & save into file according to interval!
                           </div>
                        </div>
                        <div class="col-md-6">
                           <a class="btn btn-sm btn-info" id="livecapture"> Start Live Capturing! </a>
                           <a class="btn btn-sm btn-danger" id="stopcapture"> Stop Live Capturing! </a>
                        </div>
                     </div>
                     <table class="table table-bordered table-striped">
                        <thead>
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">Devices</th>
                              <th scope="col">Start Capture</th>
                              <th scope="col">Stop Capture</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for result in final_results['devices'] %}
                           <tr>
                              <td>{{ loop.index}}</td>
                              <td>{{ result}}</td>
                              <td>
                                 <div class="form-check">
                                    <input class="form-check-input" data-name="{{loop.index}}" type="checkbox" name="livecapture">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-check">
                                    <input class="form-check-input" data-name="{{loop.index}}" type="checkbox" name="stopcapture">
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               {% endif %}
            </div>
            <div id="queue" class="tab-pane fade">
               <h3>Queue Files</h3>
               <div class="row">
                  <div class="col-md-6">
                     <div class="alert alert-warning" role="alert">
                        Note: All required feilds will be save into mongoDB!
                     </div>
                  </div>
                  <div class="col-md-6">
                     <a href="javascript:void(0)" class="btn btn-md btn-info" id="add_queue">Add to Queue</a>
                     <a href="javascript:void(0)" class="btn btn-md btn-info" id="start_process">Start Process</a>
                  </div>
               </div>
               {% if username %}
               <div class="row">
                  <div class="offset-md-2 col-md-8 offset-md-2">
                     <div id="waitttAmazingLover" style="color: deepskyblue;display: none;position:absolute;top:24%;left:13%;padding:2px;text-align: center;width: 242px;">
                        <img src="https://www.w3schools.com/jquery/demo_wait.gif" width="64" height="64"><br>Waiting..
                     </div>
                     <div class="result">
                        <h3>Queue: <span id="files_in_queue"></span></h3>
                        <h3>Processing: <span id="files_in_processing"></span></h3>
                        <h3>Processed: <span id="files_in_processed"></span></h3>
                        <div class="alert alert-warning" role="alert">
                          <p>Note: Start processing will only execute maximum 20 threads for each of 20 files.once processing of 20 is complete you can start processing again. from the button.</p>
                        </div>
                     </div>
                  </div>
               </div>
               {% endif %}
            </div>
            <div id="settings" class="tab-pane fade">
               <h3>Settings</h3>
               <div class="alert alert-success d-none" id="msg" role="alert">
                 Action Completed!
               </div>
               {% if username %}
               <div class="row">
                  <div class="offset-md-4 col-md-4 offset-md-4">
                     <ul class="nav flex-column">
					  <li class="nav-item">
						<a class="nav-link " href="javascript:void(0);" id="cleanCaptured">clean all captured files</a>
					  </li>
						 <li class="nav-item">
						<a class="nav-link " href="javascript:void(0);" id="deleteProcessed">delete all processed files</a>
					  </li>
                         <li class="nav-item">
						<a class="nav-link " href="javascript:void(0);" id="refreshApp">Refresh App</a>
					  </li>
                         <li class="nav-item">
                         <div class="row">
                         <div class="col">
                           <input type="text" id="intervals_val" class="form-control" placeholder="Intervals in Seconds">
                            <small id="intval" class="form-text text-muted"></small>
                         </div>
                         <div class="col">
                           <a class="nav-link" href="javascript:void(0);" id="interval">Update Interval</a>
                         </div>
                       </div>

					  </li>
					</ul>
                  </div>
               </div>
               {% endif %}
            </div>
         </div>
         {% if messages %}
         <ul class=flashes>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
         {% else %}
         <div class="alert alert-danger" role="alert">
            You are not logged in.<a href="{{ url_for('login') }}" class="alert-link">Click here</a> to login.
         </div>
         {% endif %}
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script>
         $(function() {
         $('#preloader').addClass('d-none');
         $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
         	localStorage.setItem('activeTab', $(e.target).attr('href'));
         });
         var activeTab = localStorage.getItem('activeTab');
         if(activeTab){
         	$('#myTab a[href="' + activeTab + '"]').tab('show');
         }
          var list =[];
         			$.ajax({
         				url: "/captured",
         				type: 'GET',
         				dataType: 'json', // added data type
         				success: function(res) {
         					$.each(res.files, function (index, value)
         					  {
         					  filename=value.replace('captured\\','');
         					  list.push(filename);
         						});

         					process_file(list);
         					 }
         			});
          $('#cleanCaptured').click(function(){
                  		$.ajax({
         		url: "/deleteall?all=true",
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
                 $("#msg").show().delay(2000).fadeOut();

         			 }
         	    });

         });
          $('#deleteProcessed').click(function(){
                  		$.ajax({
         		url: "/deleteall",
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
                 $("#msg").show().delay(2000).fadeOut();

         			 }
         	    });

         });
             $('#start_process').click(function(){
             console.log('clicked');
                  		$.ajax({
         		url: "/start_processing",
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {

         			 }
         	    });

         });
            $('#refreshApp').click(function(){
                  		$.ajax({
         		url: "/refresh",
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
                 $("#msg").show().delay(2000).fadeOut();

         			 }
         	    });

         });
               $('#interval').click(function(){
              var interval= $('#intervals_val').val();
                  		$.ajax({
         		url: "/update_interval?interval="+interval,
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
                 $("#msg").show().delay(2000).fadeOut();

         			 }
         	    });

         });
		       $.ajax({
         		url: "/update_interval",
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
         	      $('#intval').text('Current Interval : '+res.interval+ ' Sec');

         			 }
         	    });
         $('#livecapture').click(function(){
         	$('input[name="livecapture"]:checked').each(function() {
           		var name=$(this).data("name");
                  		$.ajax({
         		url: "start_livecapture?interface_id="+name,
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
         			  location.reload();
         			 }
         	    });
         	});

         });
         $('#stopcapture').click(function(){
         	$('input[name="stopcapture"]:checked').each(function() {
           		var name=$(this).data("name");
                  		$.ajax({
         		url: "/stop_capture?interface_id="+name,
         		type: 'GET',
         		dataType: 'json', // added data type
         		success: function(res) {
         		location.reload();

         			 }
         	    });
         	});

         });
          $.ajax({
         	url: "/stats",
         	type: 'GET',
         	dataType: 'json', // added data type
         	success: function(res) {
         			var ar=res['queue'];
         			var arr1=[];
         			var arr2=[];

         			$.each(ar, function( index, value ) {
         			arr1.push(parseInt(index));
         			});
         			$('input[name="livecapture"]').each(function() {
         				  var index = $.inArray( $(this).data('name'), arr1 );
         					if( index != -1 ) {
         						$( this ).attr( 'checked', 'checked' );
         						$( this ).attr( 'disabled', 'disabled' );

         					}
         				});
         		 }
         	});
         $('.result').hide();
         	$(document).on('click','#add_queue',function(e) {
                 $('.result').hide();
         	 $("#waitttAmazingLover").css("display", "block");
         		   var list =[];
         			$.ajax({
         				url: "/captured",
         				type: 'GET',
         				dataType: 'json', // added data type
         				success: function(res) {
         					$.each(res.files, function (index, value)
         					  {
         					  filename=value.replace('captured\\','');
         					  list.push(filename);
         						});

         					process_file(list);
         					 }
         			});
         	});



         	function process_file(list){
         		$.ajax({
         			url: "/process_file",
         			type: 'POST',
         			contentType: 'application/json',
         			data: JSON.stringify( { "files":list}),
         			success: function(res) {
         			$("#waitttAmazingLover").css("display", "none");
         			$('.result').show();
         			$('#files_in_queue').text(res.processed);
         			$('#files_in_processing').text(res.processing);
         			$('#files_in_processed').text(res.queue);

         			}
         		});
         	}



         });

      </script>
   </body>
</html>